html, body {
overflow-x: hidden;
}
body {
position: relative
}

.freeExp_process .step li dl dt {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  width: 114px;
  height: 42px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 42px;
  margin: 0 auto;
}

.freeExp_process .step li:after {
  content: '';
  display: block;
  background: url(/images/partner/ico_process_arrow.png) left top no-repeat;
  width: 17px;
  height: 30px;
  position: absolute;
  top: 110px;
  left: -37px;
}

.freeExp_process .step li:after {
  background: url(http://cdndata.milkt.co.kr/ele/www/images/partner/200331/ico_process_arrow.png) left top no-repeat;
}

.freeExp_process .step li dl dd span {
  display: block;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  height: 52px;
}

.freeExp_process .step li {
  width: 207px;
  display: inline-block;
  margin-left: 57px;
  vertical-align: top;
  position: relative;
}

.freeExp_process .step li:first-child {
  margin-left: 0;
}

.freeExp_process .txt_noti {
  text-align: left;
  margin: 32px 0 0 70px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #222;
}

.freeExp_process .step li:first-child:after {
  background: none;
}

ol,
ul,
dl {
  list-style: none;
}

.e_noti dl {
  width: 840px;
  margin: 0 auto;
  background: none;
  display: table;
  padding: 40px 0 30px 300px;

}

.e_noti ul li {
  background: url(http://cdndata.milkt.co.kr/ele/www/images/partner/ico_dot.gif) 0 10px no-repeat;
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  letter-spacing: -1px;
  text-align: left;
  line-height: 25px;
  min-width: 368px;
  padding-left: 8px;
  margin: 0 34px 5px 0;
}

.ascenter .btn_ascenter {
  position: absolute;
  top: 58px;
  right: 25px;
  display: block;
  margin: 0;
  padding: 0;
}

.ascenter{position:relative;width:100%;margin:0 auto}



img{border:0;vertical-align:middle}

#footer>div{position:relative;width:100%;margin:0 auto;height:205px;background:none}
#footer .logo{position:absolute;top:40px;left:0}
#footer .logo02{position:absolute;top:140px;left:0}
#footer ul.policy{position:absolute;top:42px;left:172px}
#footer ul.policy :after{content:"";display:block;clear:both}
#footer ul.policy li{float:left;color:#000;font-size:15px;padding:0 18px;background:url(http://cdndata.milkt.co.kr/ele/www/images/common/footer_line.gif) no-repeat 0 1px}
#footer ul.policy li:first-child{padding:0 24px 0 0;background:none}
#footer ul.policy li a{color:#000}
#footer ul.policy li a:hover{color:#039bdd}
#footer .family{position:absolute;top:31px;left:735px;color:#949494;z-index:10}
#footer .family>a{position:absolute;top:0;left:0;display:inline;width:142px;height:33px;line-height:33px;cursor:pointer;padding:0 0 0 16px;font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;font-size:15px;color:#000;border:1px solid #ccc;background:url(http://cdndata.milkt.co.kr/ele/www/images/common/arrow_family.png) no-repeat 133px 50%}
#footer .family ul{display:none;position:absolute;bottom:0px;left:0;background:#fff;width:142px;padding:9px 0 0 16px;border:1px solid #ccc;border-bottom:0}
#footer .family ul li{height:25px;font-size:15px;color:#000}
#footer .cominfo{clear:both;position:absolute;top:85px;left:172px;width:725px;letter-spacing:-2px}
#footer .cominfo address{font-size:12px;color:#898a8a;line-height:24px}
#footer .cominfo ul:after{content:"";display:block;clear:both}
#footer .cominfo ul{width:715px}
#footer .cominfo ul li{font-size:12px;color:#898a8a;line-height:24px;margin:0 0 0 0;display:inline-block;font-family:'돋움',dotum,sans-serif}
#footer .cominfo ul li.block{display:block}
#footer .cominfo ul li.link{width:520px;margin-right:16px;}
#footer .cominfo ul li.link a{color:#039bdd}
#footer .cominfo ul li.link a:hover{color:#039bdd}
#footer .cominfo ul li a{font-weight:600;color:#039bdd;font-family:'Noto Sans KR', Dotum, '돋움', Arial, sans-serif;font-size:12px}
#footer .copy{margin:5px 0 0 0; color:#c2c2c2!important; letter-spacing:-1px;}
#footer .cominfo ul li .info_search{margin-top:-4px;margin-right:65px;color:#9f9e9e}
#footer .cominfo ul li .info_search02{margin-top:-4px;margin-right:60px;color:#9f9e9e}
#footer .cominfo ul.info li.maR01{}
#footer .cominfo ul.info li.maR02{margin-right:18px;}
#footer .cominfo ul.info_2{margin-top:18px}
#footer .cominfo ul.info_2 li{font-size:11px;color:#9f9e9e;line-height:1.5;margin:0 5px 0 0;display:inline;letter-spacing:-1px}
#footer .cominfo ul.info_2 li.maR01{margin-right:66px;*margin-right:69px}
#footer .cominfo ul.info_2 li.maR02{margin-right:131px;}
#footer .csCenter{display:block;position:absolute;right:0;top:32px;text-align:right}
#footer .csCenter p,.csCenter em,.csCenter span{display:block}
#footer .csCenter p{font-size:16px;line-height:18px;color:#666;padding-bottom:10px}
#footer .csCenter em{font-family:'Arial',sans-serif;font-size:26px;font-weight:900;color:#666}
#footer .csCenter span{margin-top:10px;font-size:11px;color:#a7a6a6}
#footer .csCenter .btn_more{background:url(http://cdndata.milkt.co.kr/ele/www/images/main02/ico_more02.png) left 5px no-repeat;padding-left:10px;font-size:13px;color:#0094d9;font-weight:100;position:absolute;top:0px;right:-1px;display:block}
#footer .cominfo .isms{position:absolute;right:40px;top:0}

*,
*::before,
*::after {
box-sizing: border-box; // 1
}

.e_noti{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/bg_notice.jpg) 50% 50% no-repeat #444;width:100%;text-align:left}
.e_noti dl{width:840px;margin:0 auto;background:none;display:table;padding:40px 0 30px 300px}
.e_noti dl dd{float:left;background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/ico_dot.gif) 0 10px no-repeat;font-size:14px;font-weight:100;color:#fff;letter-spacing:-1px;text-align:left;line-height:25px;min-width:368px;padding-left:8px;margin:0 34px 5px 0;}
.e_noti dl.price {width:835px;margin:0 auto;padding:15px 0 0 305px;background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/bg_notice02.png) left top no-repeat}
.e_noti dl.price:after{content:"";display:block;clear:both}
.e_noti dl.price dd {background:none;float:left;padding:0 0;font-size:16px;color:#fff;line-height:30px;margin:0 40px 40px 0;}
.e_noti dl.price dd em{color:#ff635c;font-weight:600}
.e_noti02{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/bg_notice.jpg) 50% 50% no-repeat #444;width:100%;text-align:left}
.e_noti02 dl{width:840px;margin:0 auto;background:none;display:table;padding:40px 0 27px 300px}
.e_noti02 dl dd{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/ico_dot.gif) 0 10px no-repeat;font-size:15px;font-weight:100;color:#fff;letter-spacing:-1px;line-height:25px;min-width:840px;padding-left:10px;margin:0 40px 5px 0;}
.e_noti02 dl.price {width:835px;margin:0 auto;padding:15px 0 0 305px;background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/bg_notice02.png) left top no-repeat}
.e_noti02 dl.price:after{content:"";display:block;clear:both}
.e_noti02 dl.price dd {background:none;float:left;padding:0 0;font-size:16px;color:#fff;line-height:30px;margin:0 40px 40px 0;}
.e_noti02 dl.price dd em{color:#ff635c;font-weight:600}



#wrap {width:100%;height:100%;position:relative;font-size:12px;}
#mobile_header{position:relative;top:0;left:0;width:100%;height:50px;z-index:60;background:#fff;border-bottom:1px solid #d6d7d8;}
#mobile_header{position:relative;top:0;left:0;width:100%;height:50px;z-index:60;background:none;border-bottom:1px solid #d6d7d8;}
#container{margin:0;padding:0}
#content{margin:0;padding:0}

/* header */
#mobile_header h1.logo img{display:none;}
#mobile_header h1>a{display:block;width:103px;height:50px;}
#mobile_header h1>a>img{display:none}
#mobile_header .btn_menu img{display:none}
#mobile_header .btn_milktmid img{display:none}
#mobile_header .btn_prev{display:none;position:absolute;left:12px;top:12px;width:29px;height:19px;background:#fff;border-radius:3px;border:1px solid #aab5c0;text-indent:-9999px;background:url(//cdndata.milkt.co.kr/ele/m/images/2016/common/ico_prev.png) no-repeat 50% 50%;background-size:12px}
#mobile_header .btn_prev img{width:35px}
#mobile_header>div{position:relative;width:100%}
#mobile_header h1.tit{text-align:center;margin:0 38px;padding:0;margin:0;}
#mobile_header h1.tit>a{display:inline-block;height:44px;line-height:44px;padding:0;margin:0;font-size:20px;font-weight:600;color:#616161}
#mobile_header .btn_home{position:absolute;top:11px;right:12px;display:inline-block;width:26px;height:22px;text-indent:-9999px;background:url(//cdndata.milkt.co.kr/ele/m/images/common/ico_common.png) no-repeat 0 0;background-size:50px}
#container h1.tit{position:relative;text-align:center;margin:0 38px;padding:0;margin:0;background:#fff;box-shadow:0 1px 5px rgba(0,0,0,0.1);z-index:1}
#container h1.tit>a{display:inline-block;height:44px;line-height:44px;padding:0;margin:0;font-size:18px;font-weight:600;color:#616161}

#mobile_header h1.logo{position:absolute;top:13px;left:50%;width:103px;height:28px;margin:0;margin-left:-51px;padding:0;background:url(//cdndata.milkt.co.kr/ele/m/images/2017/main/ico_top_sub.png) no-repeat -54px -13px;text-indent:-9999px;background-size:360px}
#mobile_header .btn_menu{position:absolute;left:5px;top:5px;display:inline-block;width:49px;height:44px;margin:0;padding:0;text-indent:-9999px;background:url(//cdndata.milkt.co.kr/ele/m/images/2017/main/ico_top_sub.png) no-repeat -5px -5px;background-size:360px}
#mobile_header .btn_milktmid{position:absolute;right:17px;top:15px;width:59px;height:21px;margin:0;padding:0;background:url(//cdndata.milkt.co.kr/ele/m/images/2017/main/v3/ico_top_sub.png) no-repeat -278px -16px;text-indent:-9999px;background-size:360px}

#mobile_header h1.logo{position:absolute;top:13px;left:50%;width:103px;height:28px;margin:0;margin-left:-51px;padding:0;background:url(//cdndata.milkt.co.kr/ele/m/images/2017/main/ico_top_sub.png) no-repeat -54px -13px;text-indent:-9999px;background-size:360px}
#mobile_header .btn_menu{position:absolute;left:5px;top:5px;display:inline-block;width:49px;height:44px;margin:0;padding:0;text-indent:-9999px;background:url(//cdndata.milkt.co.kr/ele/m/images/2017/main/ico_top_sub.png) no-repeat -5px -5px;background-size:360px}
#mobile_header .btn_milktmid{position:absolute;right:17px;top:15px;width:74px;height:21px;margin:0;padding:0;background:url(//cdndata.milkt.co.kr/ele/m/images/2017/main/v3/ico_top_sub_v2.png) no-repeat -263px -16px;text-indent:-9999px;background-size:360px}

.cont_noti01{width:100%; background:#555;text-align: left}
.cont_noti01 dl{width:100%;max-width:720px;margin:0 auto;padding: 23px 0;margin:0 auto;background: url(//cdndata.milkt.co.kr/ele/m/images/partner/171023/ico_noti_m.png) 13px 23px no-repeat;background-size: 18px}
.cont_noti01 dl dt{font-size: 14px;color: #fff;padding-left: 38px;padding-bottom: 10px}
.cont_noti01 dl dd{padding:0;margin:0 2% 2px 5%;font-size: 12px;line-height: 1.5;color: #fff;letter-spacing:-1px}
.cont_noti02{width:100%;background:#363636;text-align: left}
.cont_noti02 dl {width:100%;max-width:720px;margin:0 auto;background: #363636;padding: 18px 0}
.cont_noti02 dl:after{content:"";display:block;clear:both}
.cont_noti02 dl dt{font-size: 14px;color: #fff;padding-bottom: 10px;padding-left: 10px;text-align:left;display:none}
.cont_noti02 dl dd{padding:0 2% 0 5%;color: #fff;font-size: 12px;line-height: 1.7;letter-spacing:-1px}
.cont_noti02 dl dd em{color:#ff635c;font-weight:bold}

#footer_new{border-top:1px solid #ececec; padding:5% 0 10%; box-sizing:border-box;}
#footer_new>ul{overflow:hidden; margin:0 9% 5%;}
#footer_new>ul>li{float:left; padding:0 2.5%; box-sizing:border-box; font-size:3.1vw; border-right:1px solid #ddd; /*line-height:1.1;*/}
#footer_new>ul>li:last-child{border-right:none;}
#footer_new>ul>li>a{color:#777;}
#footer_new>ul>li>a>strong{font-weight:600; color:#111;}
#footer_new>div{font-size:2.9vw; color:#999; line-height:1.5; padding-left:5%; box-sizing:border-box;}
#footer_new>div>strong{color:#222;}
#footer_new>div>span{color:#555;}
#footer_new>div>p{font-size:2.8vw; letter-spacing:-1px; margin-top:8%;}

.cont07 .btn_area a{width:647px;height:118px;position:absolute;top:441px;left:50%;margin-left:-323.5px;display:block}
.quickBtn {position:fixed;left:87%;top:40%;z-index:3;margin-left:0px;z-index:20;}
/* .quickBtn:after{content:"";display:block;clear:both;position:absolute;top:-45px;left:50%;margin-left:-55px;background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/190829/ico_quick.png) 0 0 no-repeat;width:110px;height:71px;z-index:4} */
.quickBtn a{position:relative;display:block;width:174px;height:174px;margin:0 0 5px;text-align:center;color:#ff704a;}
.quickBtn a>span{display:block;width:174px;height:174px;font-size:0;line-height:0;text-indent:-9999px}
.quickBtn a.btn_freeExp{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/190829/btn_freeExp.png) no-repeat 0 0;z-index:3}
.quickBtn a.btn_review{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/190829/btn_review.png) no-repeat 0 0;margin-top:-30px;z-index:2}
.quickBtn a.btn_apply{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/190829/btn_apply.png) no-repeat 0 0;margin-top:-30px;z-index:1}
.quickBtn.changed a.btn_freeExp{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/190829/btn_freeExp.png) no-repeat 0 0;animation-name:btnchange;animation-duration:1s;z-index:3}
.quickBtn.changed a.btn_review{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/190829/btn_review.png) no-repeat 0 0;animation-name:btnchange;animation-duration:1s;margin-top:-30px;z-index:2}
.quickBtn.changed a.btn_apply{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/190829/btn_apply.png) no-repeat 0 0;animation-name:btnchange;animation-duration:1s;margin-top:-30px;z-index:1}
.quickBtn.changed a.btn_top{background:url(http://cdndata.milkt.co.kr/ele/www/images/partner/200129/btn_top.png) no-repeat 0 0;animation-name:btnchange;animation-duration:1s;margin-top:-30px;z-index:1;width:71px;height:71px;margin:20px auto;text-align:center}
